.item-a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 2px black;
    width: 200px;
    height: 200px;
    padding-bottom: 5px;   
    background: rgb(236, 222, 222);

  /*  grid-column: 1 / 2;
    grid-row: 1 / 2;*/
    justify-self: center;
    align-self: center;
  

}

.container{
    border: solid 2px black;
    width: 500px;
    height: 500px;
    display: grid;
   /* grid-template-columns: 100vh ;
    grid-template-rows: 100vh ;*/
   
}
