.formdiv{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 2px black;
    width: 17em;
    height: 10em;
    padding-bottom: 5px;
    margin: 0 auto;
    background: rgb(236, 222, 222);

}

.maindiv{
    
    position: absolute;
    top: 50%;
    margin-top: -5em;
    left: 0;
    width: 100%;
}

span {
    padding-left: 3px;
}
h2 {
    padding-left: 3px;
}

#button {
    margin-left: 3px;
    margin-top: 0.4em;
    padding: 3px;
}

#emailbox {
    position:relative;
    left:2.2em;
}