
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

:root {
    --clr-primary: #969696;
    
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave', cursive;
    cursor: pointer;
}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-primary);
    justify-content: center;
   
}
.cardlayout{
    display: flex;
    width: 100vw;
    
    background-color: var(--clr-primary);
    justify-content: space-evenly ;
    align-content: center;
   
}

h1, h2 {
    text-align: center;
    font-size: 3em;
    width: 20rem;
    height: 5rem;    
    justify-self: center;
    position: relative;
    top: 5rem;
}

h2{
    top: 2rem;
    color: firebrick;
}

.button{
    
    text-align: center;
    font-size: 3em;
    width: 20rem;
    height: 5rem;    
    justify-self: center;
    position: relative;
    top: 1.5rem; 
    

}

.button:hover {
        color: rgb(1, 53, 36);
        transition: color 150ms ease-in-out ;
        font-size: 4em;

}

.card{
    background-color: var(--clr-primary);
    width: 300px;
    height: 500px;   
    display: grid;
    justify-content: center;
    align-content: start;
}
